mixin properties(props)
  ul.properties
    each prop in props
      li
        b= prop.name
        | &ensp;:&ensp;
        = prop.description

        if prop.hasProperty
          +properties(prop.hasProperty)

        if prop.items
          +properties(prop.items.hasProperty)

.title
  if typology && name
    span.typologie= typology
      | &nbsp;/&nbsp;
    h2.subset= name

  //- img(src="img/holders/logo_" + Détenteur.toLowerCase() + ".png", title=Détenteur)

  if synthSetInsertable
    button.insert.btn.btn-primary(type="button")
      span.iconicstroke-cloud-upload
      | &nbsp;Insérer dans le Cozy
  if synthSetInDS
    button.delete.btn.btn-danger(type="button")
      span.iconicstroke-trash-stroke
      | &nbsp;Supprimer du Cozy

if name
  p=description

  if help
    p
      b Informations pour la ré-utilisation :&ensp;
      = help

  ul.caracteristiques
    li
      b Fréquence :&nbsp;
      = updateFrequency
    li
      b Latence :&nbsp;
      = updateLatency
    li
      b Propriétés :&nbsp;
      +properties(hasProperty)

.well
  | DocType :&nbsp;
  b= docType.name

  p= docType.description

  .similaires
    | Du même doctype :
    ul
      each s in subsets
        li= s.name
