.title
  span.typologie= Typologie
    | &nbsp;/&nbsp;
  h2.subset= Nom

  //- img(src="img/holders/logo_" + Détenteur.toLowerCase() + ".png", title=Détenteur)

  if synthSetInsertable
    button.insert.btn.btn-primary(type="button")
      span.iconicstroke-cloud-upload
      | &nbsp;Insérer dans le Cozy
  if synthSetInDS
    button.delete.btn.btn-danger(type="button")
      span.iconicstroke-trash-stroke
      | &nbsp;Supprimer du Cozy

.row  
  .subset.col-xs-6
    p= Description
    
    ul.caracteristiques
      li
        b Fréquence :&nbsp;
        = Fréquence
      li
        b Latence :&nbsp;
        = Latence
  .doctype.col-xs-6
    .well
      | DocType :&nbsp;
      b= docType.Nom

      p= docType.Description

      .similaires
        | Du même type :
        ul
          each s in subsets
            li= s.Nom
